body { font-size: 75%; font-family: Tahoma, Arial, sans-serif;}
#master_menu {  -webkit-box-sizing: content-box;
                -moz-box-sizing: content-box;
                box-sizing: content-box;
             }
.sidebarheader { -webkit-box-sizing: content-box;
                 -moz-box-sizing: content-box;
                 box-sizing: content-box;
                } 
.accordionLink {font-weight: normal;}
.border-style {border-color:black;border-style: dashed;}
a:hover {text-decoration: none;}