body { font-size: 75%; font-family: Tahoma, Arial, sans-serif;}
#master_menu {  -webkit-box-sizing: content-box;
                -moz-box-sizing: content-box;
                box-sizing: content-box;
             }
.sidebarheader { -webkit-box-sizing: content-box;
                 -moz-box-sizing: content-box;
                 box-sizing: content-box;
                } 
.accordionLink {font-weight: normal;}
.border-style {border-color:black;border-style: dashed;}
a:hover {text-decoration: none;}

#ss{
    /*overflow:scroll;*/
    /*width:690px;*/
    /*background-color:lightgray;*/
}
#tbl th{
    /*width:400px;*/
    /*background-color:lightgray;*/
}
.tamanio50 {
    width:50px !important;
}
.tamanio75 {
    width:75px !important;
}
.tamanio100 {
    width:100px !important;
}
.tamanio150 {
    width:150px !important;
}
hr {
    margin-top: 6px;
    margin-bottom: 6px;
    border: 1px;
    border-top: 1px;
}